@mixin bp($point) {
  @if $point == desktop-l {
    @media (max-width: 1920px) {
      @content;
    }
  } @else if $point == r-desktop-l {
    @media (min-width: 1920px) {
      @content;
    }
  } @else if $point == desktop-m {
    @media (max-width: 1500px) {
      @content;
    }
  } @else if $point == r-desktop-m {
    @media (min-width: 1500px) {
      @content;
    }
  } @else if $point == desktop {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $point == nav {
    @media (max-width: 900px) {
      @content;
    }
  } @else if $point == r-nav {
    @media (min-width: 900px) {
      @content;
    }
  } @else if $point == tablet {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $point == tablet-small {
    @media (max-width: 768px) {
      @content;
    }
    
  } 
  @else if $point == tablet-big{
    @media (max-width: 1024px) {
      @content;
    }
    
  }

  
  @else if $point == mobile {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $point == r-desktop {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $point == r-tablet {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $point == ipad-vertical {
    @media (min-width : 768px) and (max-width : 768px) {
      @content;
    }
  } @else if $point == r-tablet-small {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == r-mobile {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $point == mobile-small {
    @media (max-width: 380px) {
      @content;
    }
    
  }
  @else if $point == mobile-xsmall {
    @media (max-width: 320px) {
      @content;
    }
    
  }
}

$padding-container: 5vw;
$padding-container-l: 30px;
$padding-container-m: 30px;
$padding-container-s: 30px;
$padding-container-xs: 25px;
$padding-container-xxs: 15px;


















































