@import "variables";
* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

*,
*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  position: relative;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  font-weight: 600;
  //border-bottom: 1px solid rgba(115, 117, 182, 0.5);

  &:hover {
  }
}

img {
  vertical-align: middle;
  max-width: 100%;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre,
fieldset,
ul,
ol,
menu,
form {
  margin: 0;
}

button,
fieldset,
iframe {
  border: 0;
}

fieldset,
ul,
ol,
button,
menu {
  padding: 0;
}

ol,
ul {
  list-style: none;
}

textarea {
  resize: vertical;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  transition: all 0.5s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.hidden {
  display: none !important;
}

[hidden] {
  display: none;
}

.transition-5 {
  transition: all 0.5s;
}

.fw {
  width: 100%;
}

a,
a:focus,
button,
button:focus {
  outline: none !important;
}
body {
  //font-family: 'Proxima Nova', sans-serif;
  //background: #f2f7fd;
  //border-bottom: 7px solid $color-purple;
  //color: $color-gray;
}

p {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.5em;
  letter-spacing: 0.4px;

  @include bp(tablet-small) {
    font-size: 15px;
  }
}

input {
  height: 50px;
}

input,
textarea {
  display: block;
  width: 100%;
  border: none;
  background: none;
  font-weight: 600;
  color: #556379;
  /* margin-bottom: 15px; */
  box-shadow: 0px 6px 7px 0px rgba(41, 53, 108, 0.15);
  padding: 10px 20px;
  height: 50px;
  border-radius: 6px;
  font-family: "Proxima Nova", sans-serif;
  font-size: 16px;
  transition: all 0.5s;

  &::placeholder {
    font-weight: 500;
  }

  &:hover {
    box-shadow: 0px 6px 23px 0px rgba(41, 53, 108, 0.34);
  }

  &:focus {
    box-shadow: 0px 6px 23px 0px rgba(41, 53, 108, 0.34);
  }
}

.swiper-wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

textarea {
  resize: none;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border: none;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 10px;

  @include bp(mobile-small) {
    font-size: 14px;
  }
}

.table > tbody > tr > th {
  background: #eef3f6;
  font-size: 18px;
  font-weight: 700;
  padding: 15px;
  color: #4445a0;
}

.table > tbody > tr:not(:first-child):not(:last-child) {
  border-bottom: 1px solid #dde3eb;
}

.pad0 {
  padding: 0;
}

.pl0 {
  padding-left: 0;
}

.pr0 {
  padding-right: 0;
}

.pt0 {
  padding-top: 0 !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.pt60 {
  padding-top: 60px;
}

.pt20 {
  padding-top: 20px;
}

.pad-horizontal-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.custom-container {
  padding-right: $padding-container-l;
  padding-left: $padding-container-l;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;

  @include bp(desktop) {
    padding-right: $padding-container-m;
    padding-left: $padding-container-m;
  }

  @include bp(tablet) {
    padding-right: $padding-container-s;
    padding-left: $padding-container-s;
  }

  @include bp(mobile) {
    padding-right:0;
    padding-left: 0;
  }

  @include bp(mobile-small) {
    padding-left: 0;
    padding-right: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin-bottom: 15px;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  //background: #29356b;
  background: rgb(22, 23, 29);
  width: 100%;
  height: 120vh;
  z-index: 222;
  opacity: 0;
  pointer-events: none;
  will-change: opacity;
  transition: all 0.3s;

  &.active {
    opacity: 0.5;
    pointer-events: auto;
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.button {
  color: white;
  padding: 19px 33px;
  border-radius: 5px;
  position: relative;
  top: 60px;
  font-weight: 100;
  font-size: 18px;
  &.blue {
    background-color: #0099d8;
    transition: all 0.4s ease-in-out;
    border: 0;
    &.promo {
      padding: 15px;
      font-size: 18px;
      top: 0;
    }
    &:hover {
      background-color: #0e7ba9;
      color: white;
    }
  }
  &.gray {
    background-color: #b8b7b7;
    margin: 0 auto;
    top: 20px;
    color:white !important;
    transition: all 0.4s ease-in-out;
    &.social {
      top: 36px;
      color:white !important;
    }
    &:hover {
      background-color: #9e9c9c;
      color: white;
    }
  }
  @include bp(tablet-big) {
    padding: 19px 5px !important;
  }

  @include bp(mobile-xsmall) {
    padding: 16px 8px;
    font-size:13px;
  }
  @include bp(mobile) {
    padding: 17px 10px;
  }
}

.dots {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 12%;
  p {
    width: 8px;
    height: 8px;
    background: #0099d8;
    border-radius: 100%;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  &.second {
    left: 0;
    padding-top: 40px;
    @include bp(mobile) {
      padding-top: 0;
      p{
        width: 5px;
        height: 5px;
      }
    }
  }
  &.code {
    left: 0;
    margin-top: 45px;
  }
  @include bp(mobile) {
    left: 0 !important;
  }
}

.img-border {
  height: 170px;
  background-color: white;
  border-radius: 100%;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  margin: 0 auto;
  border: 4px solid #b6b6b6;
  transition: all 0.4s;
  img {
    width: 55%;
    @include bp(mobile) {
      width: 38%;
    }
  }
  @include bp(mobile) {
    width: 150px;
    height: 150px;
  }
}

.gray-wrp {
  text-align: center;
}

.comp .dots {
  @include bp(mobile) {
    display: flex;
    margin-bottom: 50px;
    margin-top: -28px;
    p{
      width: 5px;
      height: 5px;
    }
  }
  display: none;
}
