@import "variables";
@import "bootstrap.min";
@import "normalize";
@import "global";

.header a {
  font-weight: inherit !important;
  @include bp(mobile) {
    width: 100%;
    text-align: center;
    left: 7%;
    position: relative;
  }
}

.row {
  height: 100%;
  cursor: initial;
}

.wrapper {
  &__inner {
    .header {
      width: 100%;
      height: 80px;
      background: #03121a;
      &__logo {
        font-size: 34px;
        font-weight: 500;
        display: flex;
        align-items: center;
        color: #0099e5;
        span {
          color: white;
        }
        @include bp(mobile) {
          font-size: 25px;
          z-index: 999;
        }
        @include bp(mobile-small) {
          font-size: 21px !important;
          justify-content: flex-end;
        }
        @include bp(mobile-xsmall) {
          font-size: 20px !important;
        }
      }
      &-menu {
        display: flex;
        align-items: center;
        font-size: 19px;
        justify-content: space-around;
        a {
          font-weight: 100;
          color: white;
          cursor: pointer;
          &:hover {
            color: #0099e5;
          }
        }
        @include bp(mobile) {
          display: none;
        }
      }
      @include bp(mobile) {
        top: 0;
        position: fixed;
        z-index: 9999;
      }
    }
  }

  .page-wrp {
    height: 130px;
    background: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    &__title {
      color: #444444;
      font-weight: 500;
      @include bp(mobile) {
        text-align: center;
        padding: 8px 47px;
        font-size: 22px;
      }
    }
    @include bp(mobile) {
      height: 80px;
      margin-top: 82px;
    }
  }

  .filter-wrp {
    &__title {
      padding: 42px 0;
      font-size: 18px;
      font-weight: 500;
      color: #636363;
      @include bp(mobile) {
        text-align: center;
      }
    }
    &__choose {
      background-color: #f7f7f7;
      padding: 18px 20px;
      display: flex;
      @include bp(mobile) {
        display: block;
      }
      .choose-item {
        display: flex;
        align-items: center;
        &:first-child {
          margin-right: 45px;
          @include bp(mobile) {
            margin-right: 0;
            margin-bottom: 12px;
          }
        }
        &__select {
          margin-left: 12px;
          width: 199px;
          height: 49px;
          border: 2px solid #d4d2d2;
          padding: 0px 11px;
          border-radius: 2px;
          @include bp(mobile) {
            width: 187px;
            height: 40px;
          }
          @include bp(mobile-small) {
            width: 144px;
            height: 35px;
          }
          &:after {
            content: "\25BC";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            padding: 0 1em;
            background: #34495e;
            pointer-events: none;
          }
        }
        @include bp(mobile) {
          justify-content: space-between;
        }
        p {
          @include bp(mobile-small) {
            font-size: 11px;
          }
        }
      }
    }
  }

  .products {
    .custom-container {
    }
    &-item {
      padding: 50px 0;

      @include bp(mobile) {
        padding: 25px 12px;
        border-bottom: 0;
      }
      border-bottom: 1px solid #c8c8c8;
      &__image {
        position: relative;
        cursor: pointer;
        .left-img {
          height: 210px;
          transition: all 0.4s ease-in-out;
          &--comp {
            height: auto;
          }
          @include bp(tablet-small) {
            object-fit: cover;
          }
          @include bp(mobile) {
            object-fit: cover;
            width: 100%;
          }
        }
      }
      &__logo {
        position: absolute;
        top: 50%;
        right: 35px;
        background-color: white;
        border: 5px solid #d4d2d2;
        height: 85px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-43%);
        width: 135px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        img {
          width: 100%;
          object-fit: cover;
        }
        @include bp(mobile) {
          bottom: 0;
          position: absolute;
          right: 25px;
          transform: none;
        }
      }
      &__detail {
        padding-left: 5px;
        @include bp(mobile) {
          //   padding: 14px 26px;
        }
        .detail-title {
          font-size: 25px;
          color: #009ae6;
          margin-bottom: 0;
          cursor: pointer;
          transition: all 0.3s;
          &--comp {
            font-size: 25px;
            color: #777777;
            transition: all 0.4s;
            &.main {
              padding-bottom: 11px;
              border-bottom: 1px solid #0099d8;
              display: inline-block;
            }
            &:hover {
              color: #2a2b2b;
            }
          }
          &:hover {
            color: #2a2b2b;
          }
          @include bp(mobile) {
            font-size: 22px;
          }
        }
        .detail-location {
          font-size: 19px;
          color: #a8a8a8;
          font-weight: 100;
          &--comp {
            font-size: 16px;
            color: #636363;
            font-weight: 500;
            opacity: 0.9;
            margin-top: -5px;
            @include bp(mobile) {
              padding: 14px;
            }
          }
          @include bp(mobile) {
            font-size: 16px;
          }
        }
        hr {
          width: 29%;
          float: left;
          background-color: #009ae6;
          margin-top: 10px;
          margin-bottom: 0;
        }
        .detail-dolar {
          position: relative;
          left: 5px;
          margin-top: 18px;
          width: 100%;
          img {
            width: 60px;
            margin-left: -20px;
          }
        }
        .detail-item {
          margin-top: 12px;
          @include bp(mobile) {
            display: flex;
            justify-content: space-between;
          }
          &__title {
            margin-bottom: -5px;
            display: flex;
            @include bp(mobile) {
              display: block;
              position: relative;
              left: 13px;
            }
            h3 {
              font-weight: 600;
              color: #636363;
              font-size: 17px;
              margin-right: 30px;
              top: 3px;
              position: relative;
              @include bp(mobile-small) {
                font-size: 15px;
              }
            }
          }
          &__check {
            display: flex;
            @include bp(mobile) {
              display: block;
              @include bp(mobile-small) {
                p {
                  font-size: 13px;
                }
              }
            }
            p {
              margin-right: 20px;
              @include bp(tablet-big) {
                font-size: 12px;
              }
              @include bp(tablet) {
                font-size: 17px;
              }
            }
            img {
              width: 17px;
              margin-right: 5px;
            }
            &--comp {
              img {
                width: 40px;
                margin-right: 14px;
              }
              p {
                font-size: 20px;
                color: #636363;
                font-weight: 600;
                margin-top: 23px;
                @include bp(mobile) {
                  font-size: 14px;
                }
                span {
                  font-weight: 500;
                  @include bp(mobile) {
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
      &.main {
        border-bottom: 0;
        margin-bottom: 35px;
      }
      &__box {
        margin-bottom: 70px;

        .box {
          display: flex;
          h4 {
            color: #0099e5;
            margin-bottom: 0;
            font-size: 51px;
            margin-right: 29px;
            position: relative;
            top: -8px;
            &:after {
              content: "";
              position: absolute;
              width: 25px;
              height: 2px;
              bottom: 13px;
              right: 0;
              left: -2px;
              margin: 0 auto;
              /* color: #0099e5; */
              z-index: 99;
              background-color: #0099e5;
            }
          }
          p {
            color: #636363;
            transition: all 0.4s;
            &:hover {
              color: #0099e5;
            }
          }
        }
        &.reviews {
          margin-bottom: 0px;

          cursor: default;
          .box {
            margin-top: 42px;
            align-items: end;
            justify-content: center;
            @include bp(mobile) {
              margin-bottom: 50px;
            }
            p {
              &:hover {
                color: #636363;
              }
            }
          }
          p {
            margin-top: 20px;
            @include bp(mobile) {
              text-align: center;
            }
            @include bp(mobile) {
              margin-top: 0;
            }
          }
          img {
            width: 18%;
            margin-right: 57px;
            border: 8px solid #b9b9b9;
            border-radius: 100%;
            @include bp(mobile) {
              margin-right: 10px;
            }
          }
          &:first-child {
            .box {
              margin-top: 0;
            }
          }
        }
      }
      &.about {
        border-bottom: 0;
        @include bp(mobile) {
          padding: 21px;
        }
        p:hover {
          color: #636363;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
    .right-wrp {
      &__logo {
        border: 9px solid #f8f8f8;
        height: 180px;
        justify-content: center;
        height: 180px;
        display: flex;
        align-items: center;
        img {
          width: 85%;
        }
      }
      &__bottom {
        .bottom-item {
          &.main {
            a {
              margin-left: 54px;
            }
          }
        }
        background: #f8f8f8;
        margin-top: 25px;
        padding: 25px;
        color: #636363;
        padding-bottom: 80px;
        h2 {
          font-size: 22px;
          padding-bottom: 18px;
          border-bottom: 2px solid #0099d8;
        }
        &.main {
          padding-bottom: 273px;
          @include bp(mobile) {
            padding-bottom: 80px;
          }
        }
        @include bp(tablet-big) {
          padding: 9px;
        }
      }
      &__detail {
        &--comp {
          a {
            color: #0099e5;

            font-size: 17px;
            font-weight: 600;
            font-weight: 500;
            @include bp(mobile) {
              top: -30px;
              font-weight: 100;
            }
            &:hover {
              color: #2a2b2b;
            }
          }
        }
        &.main {
          img {
            width: 80%;
            border: 5px solid #eeeeee;
            border-radius: 100%;
          }
          .right-wrp__img {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          p {
            font-size: 18px;
            padding: 26px;
            color: #636363;
          }
        }
      }

      &__item {
        display: flex;
        margin-bottom: 7px;
        justify-content: space-between;
        @include bp(mobile) {
          // justify-content: center;
        }
        a {
          color: #0099e5;
          font-size: 17px;
          font-weight: 500;
          @include bp(mobile) {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          &:hover {
            color: #2a2b2b;
          }
        }
        &.main {
          align-items: end;
          img {
            margin-right: 12px;
            width: 16%;
          }
        }
        &.social {
          margin-top: 32px;
          margin-bottom: 50px;
          @include bp(mobile) {
            margin-bottom: 80px;
          }
          img {
            width: 72%;
            transition: all 0.4s ease-in-out;
            &:hover {
              transform: scale(0.9);
            }
          }
        }
      }
    }
    &.main {
      margin-top: 50px;
      .detail-item {
        @include bp(mobile) {
          display: block;
        }
      }
      &.profile {
        h3 {
          &:hover {
            color: #2a2b2b;
          }
        }
      }
    }
    &.comp {
      .products-item {
        border-bottom: 0;
        margin-top: -46px;
        @include bp(mobile) {
          margin-bottom: 60px;
        }
      }
      .products-item {
        .left-img--comp {
          transition: all 0.4s ease-in-out;
        }
        &:hover {
          cursor: default;
        }
      }
      .detail-item {
        @include bp(mobile) {
          display: block;
        }
      }
    }
  }

  .recents-posts {
    text-align: center;
    padding: 40px 0;
    h3 {
      font-size: 29px;
      padding-bottom: 20px;
      @include bp(mobile) {
        font-size: 22px;
      }
    }
    &__item {
      cursor: pointer;
      p {
        font-size: 20px;
        font-weight: 500;
        margin-top: 10px;
        color: #444444;
        margin-top: 25px;
        transition: all 0.4s;
        @include bp(mobile) {
          font-size: 14px;
          line-height: 1.1;
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
      img {
        transition: all 0.4s ease-in-out;
      }
      &:hover {
        img {
          transform: scale(0.9);
        }
        .img-border {
          border-color: #0099d8;
        }
        p {
          color: #0099d8;
        }
      }
    }
    &.comp {
      background-color: #f7f7f7;
      padding: 75px 0;
      margin-top: 50px;
      h3 {
        margin-bottom: 40px;
      }
    }
    .col-xs-12.col-md-3 {
      @include bp(mobile) {
        width: 50%;
      }
    }
  }
}

.cover-title {
  color: #636363;
  margin-top: 21px;
}

.iconfont {
  color: blue;
  font-size: 37px;
}

.promo {
  border: 1px solid #d6d6d6;
  padding: 35px;
  display: block !important;
  img {
    width: 12% !important;
    margin-right: 10px !important;
  }
  &-bottom {
    display: flex;
    align-items: center;
    margin-top: 17px;
    margin-left: -7px;
    @include bp(mobile) {
      justify-content: center;
    }
    img {
      border: none !important;
    }
  }
  p {
    margin-top: 0 !important;
  }
  &-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2 {
      font-weight: bold;
      position: relative;
      top: -12px;
    }
  }
  p {
    a {
      font-weight: 500;
    }
  }
}
.promo-title {
  display: inline-block;
  font-size: 27px;
  position: relative;
  top: 13px;
  margin-bottom: 34px;
  &:after {
    content: "";
    position: absolute;
    bottom: -8px;
    background: #0099d8;
    width: 100%;
    height: 1px;
    left: 0;
  }
  @include bp(mobile) {
    width: 100%;
    text-align: center;
  }
}

.footer {
  position: relative;
  height: 100px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    color: white;
    @include bp(mobile-small) {
      font-size: 11px;
    }
  }
}

.menu-icon {
  display: none;
  width: 40px;
  height: 45px;
  position: absolute;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  left: 5px;
  z-index: 9999;
  top: 18px;
  @include bp(mobile) {
    display: block;
  }
}
.menu-icon .lines {
  display: block;
  /* position: absolute; */
  height: 4px;
  width: 87%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  line-height: 2;
  padding-bottom: -4px;
  margin: 8px;
}
.menu-icon .lines:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.menu-icon .lines:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.menu-icon .lines:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.menu-icon.open .lines:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}
.menu-icon.open .lines:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.menu-icon.open .lines:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

.header-mobile-menu {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: #03121a;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 5vh;
  color: white;
  opacity: 0;
  left: 0;
  display: none;
  transition: all 0.4s ease-in;
  a {
    text-align: center;
    left: 0;
  }
}

.header-mobile-menu-open {
  display: flex;
  z-index: 9;
  opacity: 1;
}

.main .right-wrp {
  @include bp(mobile) {
    margin-top: 50px;
  }
}

.box.promo {
  @include bp(mobile) {
    margin-bottom: auto !important;
  }
}

.about .page-wrp__title {
  @include bp(mobile) {
    font-size: 17px;
  }
}
.header__logo {
  @include bp(tablet-big) {
    font-size: 27px !important;
  }
  @include bp(r-mobile) {
    left: inherit !important;
  }
}
@include bp(tablet-small) {
  .header__logo {
    left: 30%;
  }
  .comp .col-xs-12.col-md-9 {
    max-width: 100%;
  }

  .comp .col-xs-12.col-md-3 {
    width: 100% !important;
    max-width: 100%;
  }
  .comp .row {
    display: block;
  }

  .comp .products-item__image {
    max-width: 100%;
    img {
      width: 100%;
    }
  }

  .comp .right-wrp {
    //margin-top: 140px !important;
  }

  .profile .left-wrp {
    max-width: 100%;
  }
  .profile .right-wrp {
    max-width: 100%;
  }

  .profile .row {
    display: block;
  }

  .profile .col-md-8 {
    max-width: 100%;
    @include bp(mobile) {
    }
  }

  .recents-posts .row {
    display: flex;
    padding: 6px;
  }

  .code .col-xs-12.col-md-8 {
    max-width: 100% !important;
  }

  .code .row {
    display: block;
  }
  .box.promo .row {
    display: flex;
  }

  .code .right-wrp {
    max-width: 100%;
  }
}

.detail-wrapper {
  @include bp(mobile) {
    display: none;
  }
}

.detail-wrappers {
  display: none !important;
  @include bp(mobile) {
    padding: 0 14px;
    margin-bottom: 14px;
    display: flex !important;
  }
  &__left {
    width: 500px;
  }
  &__right {
    width: 100%;
    text-align: right;
  }
  display: flex;
  width: 100%;
  justify-content: initial;
  h3 {
    font-size: 21px;
    color: #009ae6;
    margin-bottom: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  p {
    color: #a8a8a8;
    font-weight: 100;
    font-size: 16px;
  }
  img {
    width: 51px;
    margin-left: -20px;
  }
}

.buttons {
  @include bp(mobile) {
    position: relative;
    width: 96%;
    margin-bottom: 100px;
    margin-top: -20px;
    left: 3%;
  }
  .button.blue {
    @include bp(mobile) {
      position: absolute;
      width: 100%;
      text-align: center;
      height: 55px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.wrp-left {
  @include bp(mobile) {
    padding: 0px 24px !important;
  }
}

.disabled {
  @include bp(mobile) {
  }
}

.rw {
  @include bp(mobile) {
    background-color: #f7f7f7 !important;
  }
}

.bottom__item.home {
  display: none;
  @include bp(r-mobile) {
    display: block;
    margin-top: -13px !important;

  }
  .social {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.ds-text {
  @include bp(mobile) {
    display: none;
  }
}

.mobile-text {
  display: none;
  @include bp(mobile) {
    display: block;
    color: #484848;
  }
  padding-left: 5%;
  word-break: break-all;
  width: 338px;
  font-size: 20px;
  color: black;
}

.logo-mobile {
  @include bp(mobile) {
    display: none !important;
  }
}

.profile .right-wrp__bottom.main {
  @include bp(mobile) {
    padding-bottom: 1px !important;
  }
}
.dots.code.mobile-code {
  @include bp(mobile) {
    display: flex;
  }
  margin-top: 19px;
  display: none;
  p {
    width: 5px;
    height: 5px;
  }
}

.bottom__item {
  @include bp(mobile) {
    padding-top: 22px;
  }
}

.about .mobile-code {
  @include bp(mobile) {
    margin-top: -72px !important;
  }
}

.right-wrp__detail {
  @include bp(mobile) {
    padding: 0px 25px;
  }

}

.right-wrp__detail--comp{
  @include bp(mobile) {
    padding: 0px 25px;
  }
}

.item-social{
  @include bp(mobile) {
    margin-top: 0 !important;
  }
}