<template>
    <div class="card-body">
        <div class="mt-3 ml-2 mb-0">
            <div class="alert alert-warning alert-dismissible fade show text-center" v-if="error">
                Please fill all inputs!
            </div>
            <form class="form-inline mb-3">
                <v-select
                    v-model="keyword"
                    :options="parsed_keywords"
                    :searchable="true"
                    class="w-50 mr-2 select"
                >
                </v-select>
                <datepicker
                    v-model="from_date"
                    :disabledDates="{ from: new Date(Date.now()) }"
                    :monday-first="true"
                    input-class="form-control mr-sm-2 mb-sm-0 w-10"
                    placeholder="From Date">
                </datepicker>
                <datepicker
                    v-model="to_date"
                    :disabledDates="{ from: new Date(Date.now()) }"
                    :monday-first="true"
                    input-class="form-control mr-sm-2 mb-sm-0 w-10"
                    placeholder="To Date">
                </datepicker>
                <a class="btn btn-primary" v-if="!loading" @click="searchNews(1,false)" style="color: #FFF !important;">Search</a>
            </form>
        </div>
        <div style="text-align: center" v-if="loading">
            <div class="lds-facebook">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="row contacts-col-view" v-if="result">
            <div class="contacts-col col-4" v-for="res in result">
                <news-component :data="res" :save="save"></news-component>
            </div>
        </div>
        <div class="row">
            <nav v-if="result">
                <ul class="pagination">
                    <li class="page-item" :class="{active: active_element == n}" v-for="n in totalPage">
                        <a class="page-link cursor-pointer" @click="searchNews(n, true)">{{n}}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</template>

<script>

    import Datepicker from 'vuejs-datepicker';
    import NewsComponent from "./partial/NewsComponent";
    import VSelect from '@alfsnd/vue-bootstrap-select'

    export default {

        components: {
            Datepicker,
            NewsComponent,
            VSelect
        },

        data: () => {
            return {
                keyword: '',
                from_date: '',
                to_date: '',
                result: null,
                loading: false,
                error: false,
                totalPage: 0,
                active_element: 1,
                parsed_keywords: ''
            }
        },

        props: {
            search: '',
            save: '',
            keywords: ''
        },

        methods: {

            searchNews: function (page, paginator) {
                this.error = false;
                if (this.keyword === '' || this.from_date === '' || this.to_date === '') {
                    this.error = true;
                    return;
                }
                window.scrollTo(0, 0);
                this.loading = true;
                if (paginator) {
                    this.active_element = page;
                }
                axios
                    .post(this.search, {
                        keyword: this.keyword,
                        from_date: this.from_date,
                        to_date: this.to_date,
                        page: page
                    })
                    .then(response => {
                        this.result = response.data.result;
                        this.totalPage = response.data.total_page;
                    })
                    .catch(error => {
                        this.loading = false;
                        console.log(error)
                    })
                    .finally(() => this.loading = false)
            }
        },

        created: function () {
            this.parsed_keywords = JSON.parse(this.keywords);
        },

    }
</script>

<style>
    .select ul {
        overflow-y: auto;
        height: 200px;
    }

    .form-control:disabled, .form-control[readonly] {
        background-color: #fff !important;
    }

</style>

<style scoped>

    .w-10 {
        width: 10% !important;
    }

    .lds-facebook {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
    }

    .lds-facebook div {
        display: inline-block;
        position: absolute;
        left: 6px;
        width: 13px;
        background: #cef;
        animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }

    .lds-facebook div:nth-child(1) {
        left: 6px;
        animation-delay: -0.24s;
    }

    .lds-facebook div:nth-child(2) {
        left: 26px;
        animation-delay: -0.12s;
    }

    .lds-facebook div:nth-child(3) {
        left: 45px;
        animation-delay: 0;
    }

    @keyframes lds-facebook {
        0% {
            top: 6px;
            height: 51px;
        }
        50%, 100% {
            top: 19px;
            height: 26px;
        }
    }
</style>
