.footer{position:relative;height:100px;background:black;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.footer p{color:white}

/*# sourceMappingURL=footer.css.map */
