@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #636363;
  position: relative;
  min-height: 100vh;
  padding-top: 74px;
  padding-bottom: 90px;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  -webkit-transition: all 500ms ease-in-out 0s;
  -o-transition: all 500ms ease-in-out 0s;
  transition: all 500ms ease-in-out 0s;
}

a:hover, a:focus, .btn:focus {
  outline: none;
  text-decoration: none;
}

a:hover {
  color: #3494ea;
}
.form-control:focus {
  box-shadow: none;
}
.lightBg {
  background-color: #f7f7f7;
}
.view-more {
  font-size: 15px;
  color: #0093dc;
  display: inline-block;
  line-height: 18px;
  margin-top: 5px;
}

.view-more:hover {
  color: #636363;
}
.line-clamp {
	display            : block;
	display            : -webkit-box;
	-webkit-box-orient : vertical;
	position           : relative;
	text-overflow      : ellipsis;
  overflow: hidden;
}
.line-clamp-2 {
  -webkit-line-clamp : 2;
}
.line-clamp-3 {
  -webkit-line-clamp : 3;
}
.line-clamp-9  {
  -webkit-line-clamp: 9;
}
.line-clamp-10{
	-webkit-line-clamp : 10;
}
.article {
  white-space: pre-line;
}
.article p, article, .article2 p {
  font-size: 15px;
  line-height: 22px;
  font-weight: normal;
}
.show-para .line-clamp, .more-para .line-clamp-3 {
  -webkit-line-clamp: initial;
}
.show-para .show-more, .more-para .more-read, .mob-show-more {
  display: none;
}



.headerCol {
  background-color: #04131a;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.headerLeftCol {
  position: relative;
}

.navbar-brand.logo {
  padding: 0;
}

.navStyle>li {
  padding: 5px 15px;
  display: inline-block;
}

.navStyle>li:last-child {
  padding-right: 0;
}

.navbar-expand-lg .navbar-nav.navStyle .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navStyle>li>a {
  font-size: 14px;
  padding: 0;
  color: #fff;
  -webkit-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

.navStyle>li>a:hover {
  color: #009ae5;
}

.pageTitleCol {
  padding: 20px 0;
}

.pageTitleCol h1 {
  font-size: 25px;
  color: #444;
  text-align: center;
  margin: 0;
}

.searchCol {
  position: relative;
}

.searchCol>.form-control {
  padding-right: 30px;
}

.form-control::-webkit-input-placeholder {
  color: #d4d2d2;
}

.form-control::-moz-placeholder {
  color: #d4d2d2;
}

.form-control:-ms-input-placeholder {
  color: #d4d2d2;
}

.form-control::-ms-input-placeholder {
  color: #d4d2d2;
}

.form-control::placeholder {
  color: #d4d2d2;
}

.searchIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
  cursor: pointer;
}

.mainContentCol {
  padding: 25px 0;
}

.latestNewsCol {
  padding: 20px;
  background-color: #f7f7f7;
}

.titleText h4 {
  font-size: 20px;
  color: #009ae6;
  font-weight: 600;
  padding: 0px 0px 5px;
}

.latestNewsCol .cardContent, .moreNewsCol .cardContent {
  max-width: 365px;
}

.cardContent h5 {
  color: #e60000;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 5px;
}

.cardContent h5 a, .cardContent h5 a:hover {
  color: #e60000;
}

.cardContent p {
  color: #636363;
  font-weight: 600;
  margin-bottom: 0px;
  line-height: 20px;
}

.cardContent>small {
  font-size: 14px;
  font-weight: 400;
  display: block;
}

.latestNewsCol .cardImg, .moreNewsCol .cardImg {
  padding-right: 15px;
}

.latestNewsCol .cardStyle, .moreNewsCol .cardStyle {
  padding: 12px 0;
}

.cardContent h3 {
  font-size: 26px;
  font-weight: 700;
}

.mealTimeCol img {
  margin-bottom: 20px;
}

.mealTimeCol p {
  font-size: 15px;
  color: #636363;
}

.readMore a {
  color: #0099e5;
  font-size: 15px;
}

.articleSection {
  padding: 25px 0;
}

.sideBarMoreNews {
  padding: 15px;
  background-color: #f7f7f7;
}

.cardYSpace {
  padding: 10px 0;
}

/* bikini details layout start */
.slick-prev:before, .slick-next:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    color: #818181;
    font-size: 30px;
}
.btn {
    font-size: 15px;
    padding: 10px 15px;
}
.send-button .fa {
    padding-right: 5px;
    font-size: 20px;
}
.btn-skyblue {
    background-color: #0093dc;
    display: block;
    width: 100%;
    color: #fff;
}
.btn-skyblue:hover {
    color: #3bb6f3;
}
.search-result {
    display: inline-block;
    font-size: 14px;
    color: #0093dc;
}
.search-result .icon-item img {
    display: block;
}
.search-result .icon-item {
    width: 8px;
}
.search-result span {
    display: inline-block;
    vertical-align: middle;
}

.search-bar-input {
    position: relative;
}
.search-bar-input .form-control {
    border: 2px solid #b8b7b7;
    border-radius: 2px;
    font-size: 18px;
    background-color: #fff;
    font-weight: 500;
    padding: 9px 20px;
    height: auto;
}
.searchIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    cursor: pointer;
}
.close-item {
    width: 15px;
    margin-right: 8px;
    display: none;
}
.right-dbl-icon .form-control {
    padding-right: 70px;
}
.prod-overview {
    padding-bottom: 40px;
}
.product-slider {
    max-width: 465px;
    width: 100%;
}
.display-img {
    height: 620px;
}
.display-img img, .img-b img, .dress-pho img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
:focus {
    outline: none;
}
.imgs-itm img {
    margin: 0 auto;
    border: 2px solid transparent;
}
.imgs-itm.slick-current img {
    border: 2px solid #636363;
}
.slider.various-product {
    padding: 15px 22px;
}
.caret-arrow .slick-next:before {
    content:"\f105";
}
.caret-arrow .slick-prev:before  {
    content:"\f104";
}
.caret-arrow .arr-img .slick-prev {
    left: 0px;
}
.caret-arrow .arr-img .slick-next {
    right: 0px;
}
.circle-arr .slick-arrow {
    background-color: rgba(255,255,255,0.7);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    z-index: 5;
}
.arr-sze .slick-prev:before, .arr-sze .slick-next:before {
    font-size: 40px;
}
.circle-arr .slick-prev {
    left: 12px;
}
.circle-arr .slick-next {
    right: 12px;
}
.arr-img .slick-prev, .arr-img .slick-next {
    width: auto;
    height: auto;
}
.top-layer {
    padding-bottom: 25px;
}
.heading-items {
    margin-bottom: 15px;
}
.info-name2 h1 {
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    word-break: break-word;
    color: #444444;
}
h1.red-colr {
    color: #dc0823;
}
.ship-text {
    display: inline-block;
    color: #636363;
    font-weight: normal;
    font-size: 15px;
}
.title2 h2 {
    font-size: 20px;
    line-height: 22px;
}
.over-list li {
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    padding-left: 10px;
    margin-bottom: 5px;
}
.show-para .line-clamp, .more-para .line-clamp-3 {
    -webkit-line-clamp: initial;
}
.article {
    white-space: pre-line;
}
.line-clamp-10 {
    -webkit-line-clamp: 10;
}
.line-clamp {
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
}
.show-para .show-more {
    display: none;
}
.overview-layer .button-items {
    padding: 20px 0px;
}
.button-items {
    max-width: 270px;
}
.minWdth-btn {
    min-width: 250px;
}
.button-items li {
    margin-bottom: 10px;
    display: block;
}
.title3 h3 {
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
}
.master {
    overflow: hidden;
}
.circle-arr.circle-arr2 .slick-arrow {
    top: 50px;
    -webkit-transform: translate(0%,0%);
    -ms-transform: translate(0%,0%);
    transform: translate(0%,0%);
}
.circle-arr.circle-arr2 .slick-prev {
    left: -20px;
}
.circle-arr.circle-arr2 .slick-next {
    right: -20px;
}
.circle-arr.circle-arr2 .slick-prev:before {
    margin-left: 20px;
}
.circle-arr.circle-arr2 .slick-next:before {
    margin-right: 20px;
}
.filtering {
    margin: 0px -6px;
}
.bord-img {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    width: 200px;
    margin: 5px auto;
}
.content-base {
    padding: 8px;
}
.img-b {
    width: 100%;
    height: 158px;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
}
.bikni-master {
    padding: 20px 0px 20px;
}
.content-base h6, .content-base .h6 {
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 3px;
}
.content-base > span {
    display: block;
}
.content-base .price {
    font-size: 16px;
    font-weight: 600;
    color: #444444;
    line-height: 20px;
    margin-bottom: 5px;
}
.content-base .postage {
    font-size: 12px;
}
.vari-btn li {
    display: inline-block;
    padding: 4px 3px 4px 0;
}
.btn-gry {
    padding: 9px;
    background: #aeacac;
    border-radius: 2px;
    display: block;
    font-weight: normal;
    color: #fff;
    font-size: 15px;
}
.btn-gry:hover {
    background-color: #7a7a7a;
    color: #fff;
}
.main-bx {
    padding: 10px;
}
.frame-img {
    width: 100px;
    height: 100px;
}
.frame-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.locate-block {
    padding-top: 12px;
}
.loc-item li {
    display: block;
}
.loc-item li .i-loc {
    vertical-align: top;
    width: 18px;
}
.loc-item li span {
    display: inline-block;
}
.loc-item li .text-loc {
    font-size: 15px;
    font-weight: normal;
    width: calc(100% - 25px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 16px;
    vertical-align: middle;
}
.main-bx .feat-items {
    padding-left: 30px;
}
.feat-items ul li {
    display: inline-block;
    vertical-align: middle;
}
.btn-topup ul li {
    padding: 0px 5px 10px 0px;
}
.btn-topup ul li a {
    min-width: 140px;
}
.category-lit li a {
    padding-right: 23px;
    position: relative;
}
.category-lit li a:after {
    content: "";
    position: absolute;
    background-color: #919191;
    width: 2px;
    height: 14px;
    right: 8px;
    top: 2px;
    bottom: 0px;
}
.category-lit li:last-child a:after {
    display: none;
}
/* bikini details layout close */

/* bikini search layout start */
.sort-items {
    padding-bottom: 10px;
}
.filter-icon {
    padding: 3px 12px 3px 5px;
    border: 2px solid #d4d2d2;
    cursor: pointer;
}
.icon-itm {
    width: 18px;
}
.filter-icon span {
    display: inline-block;
    vertical-align: middle;
}
.fil-text {
    font-size: 13px;
    font-weight: 600;
    padding-left: 8px;
}
.filter-side {
    width: 215px;
    background-color: #fff;
}
.items-title h6 {
    color: #444444;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}
.custom-select:focus {
    box-shadow: none;
}
.column-items {
    padding-bottom: 20px;
}
.selec-wdth {
    max-width: 178px;
}
.slect-op .custom-select {
    border-radius: 0;
    border: 2px solid #d4d2d2;
    position: relative;
    background-image: url(../images/selc-arrow.svg);
    background-size: auto 21%;
    font-size: 15px;
    padding: 6px 30px 6px 10px;
    height: auto;
}
.fil-list li {
    display: block;
    padding: 4px 0px;
}
.des-sel .custom-control-label {
    padding-left: 6px;
}
.des-sel .custom-control-label::before {
    width: 22px;
    height: 22px;
    border-color: #d5d3d3;
    top: 0px;
}
.des-sel .custom-control-input:checked~.custom-control-label::before {
    background-color: transparent;
    border-color: #d5d3d3;
}
.cir-des .custom-control-label::after {
    top: 6px;
    left: -18px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.cir-des .custom-control-input:checked~.custom-control-label::after {
    background-color: #0093dc;
    background-image: none;
}
.check-des .custom-control-label::after {
    top: 5px;
    left: -21px;
    width: 16px;
    height: 8px;
    transform: rotate(-45deg);
}
.check-des .custom-control-input:checked~.custom-control-label::after {
    background: none;
    border-left: 2px solid #0093dc;
    border-bottom: 2px solid #0093dc;
}
.price-items li {
    display: inline-block;
}
.inut-field {
    width: 88px;
}
.to-text {
    padding: 0px 5px;
    font-size: 15px;
}
.squr-bor {
    border: 2px solid #d4d2d2;
    font-size: 15px;
    padding: 6px 10px;
    height: auto;
    border-radius: 0;
}
.head-tie {
    font-size: 15px;
}
.sort-page ul li {
    display: inline-block;
    vertical-align: middle;
}
.sort-by {
    font-weight: normal;
    font-size: 15px;
    display: block;
}
.sort-page .slect-op .custom-select {
    border: 0px;
    font-weight: 600;
}
.sort-page .slect-op {
    width: 145px;
}
.dress-wrap {
    margin-bottom: 20px;
    display: block;
    color: #636363;
}
.dress-wrap:hover {
    color: #636363;
}
.dress-wrap span {
    display: block;
}
.dress-pho {
    width: 100%;
    height: 171px;
}
.rating-star {
    margin-bottom: 5px;
}
.rating-star ul li {
    display: inline-block;
    vertical-align: middle;
    color: #fed835;
}
.bki-text {
    font-size: 12px;
    line-height: 14px;
}
.pagi-bar .pagination {
    -ms-flex-pack:center;
    justify-content: center;
}
.pagination .page-link {
    padding: 0;
    border-color: #b8b7b7;
    background-color: #b8b7b7;
    color: #fff;
    margin: 0px 5px;
    border-radius: 4px;
    width: 41px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: normal;
}
.pagination .page-link.bg-t {
    background-color: transparent;
    border-color: transparent;
    color: #b8b7b7;
    font-size: 33px;
}
/* bikini search layout close */

/* footer  */
.footerCol {
  background-color: #04121a;
  padding: 30px 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
}

.copyright {
  font-size: 15px;
  color: #f8f8f8;
  text-align: center;
}

.copyright>p {
  margin: 0;
}

.moreNewsCol {
  padding: 20px;
}

.squareImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: top;
}

.squareImgBig {
    width: 350px;
    height: 350px;
    object-fit: cover;
    object-position: top;
    text-align: center;
}

/* search coaches layout start */

.search-box {
  border: 2px solid #b8b7b7;
  border-radius: 2px;
  background-color: #fff;
  position: relative;
  padding: 7px 15px;
  max-width: 850px;
  margin-left: auto;
}
.search-box .form-control {
  border: none;
  background-color: transparent;
  font-size: 18px;
  padding: 2px 12px 2px 0px;
  height: auto;
  font-weight: 500;
}
.fir-search_bar {
  width: calc(72% - 5px);
  position: relative;
  padding-left: 25px;
}
.fir-search_bar:after {
  border-right: 2px solid #d4d2d2;
  top: 3px;
  bottom: 3px;
  right: 6px;
  content: "";
  position: absolute;
}
.fir-search_bar .locate-icon {
  position: absolute;
  left: 0px;
  top: 2px;
}
.sec-search_bar {
  width: calc(27% - 12px);
}
.sec-search_bar .custom-select {
  background-image: none;
  cursor: pointer;
}
.search-box ul li {
  display: inline-block;
  vertical-align: middle;
}
.locate-icon {
  width: 15px;
  display: inline-block;
}

.fitness-list {
  padding: 25px 0px;
  border-bottom: 1px solid #d4d2d2;
}
.des-block {
  padding-right: 20px;
}

.fitness-column .img-box {
  max-width: 233px;
  height: 233px;
  overflow: hidden;
}

.fitness-column .img-box img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
}

.sup-items h2 {
  font-size: 22px;
  line-height: 22px;
  color: #0093dc;
  font-weight: 600;
  margin-bottom: 5px;
}
.sup-items h2 a {
  display: inline-block;
}
.sup-items h2 a:hover {
  color: #0093dc;
}
.sup-items p {
  margin-bottom: 5px;
}

.sub-items span {
  display: inline-block;
  vertical-align: middle;
}

.navigate-icon img {
  display: block;
}

.navigate-icon {
  width: 12px;
}

.loc-text {
  color: #e60000;
  font-size: 14px;
  line-height: 15px;
  padding-left: 7px;
}
.checkbox-list li {
  display: block;
  pointer-events: none;
}
.checkbox-list .custom-control-label {
  font-size: 15px;
  font-weight: normal;
}

.space-top-bot ul {
  padding: 15px 0px;
}

.custom-control-input:checked~.custom-control-label::before {
  background-color: #fff;
  border-color: #636363;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: none;
    border-left: 2px solid #636363;
    border-bottom: 2px solid #636363;
    width: 8px;
    height: 4px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 8px;
    left: -21px;
}

.custom-control-input:checked~.custom-control-label::before {
    background-color: #fff !important;
    border-color: #636363;
    border: #adb5bd solid 1px;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 2px;
  width: 14px;
  height: 14px;
}

.des-block h1 {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  color: #444444;
}

.btn-show-more {
  background-color: #b8b7b7;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  min-width: 174px;
  display: inline-block;
  padding: 13px 15px;
  border-radius: 3px;
}

.btn-show-more:hover {
  background-color: #444444;
  color: #fff;
}

.unshow-column, .shown-on .button-block {
  display: none;
}

.shown-on .unshow-column {
  display: block;
}

.button-block {
  padding: 30px 0px;
}

/* coach profile layout start */
.search-result {
  display: inline-block;
  font-size: 14px;
  color: #0093dc;
}
.search-result span {
  display: inline-block;
  vertical-align: middle;
}
.search-result .icon-item {
  width: 8px;
}
.search-result .icon-item img {
  display: block;
}
.pro-img {
  width: 365px;
  height: 365px;
  overflow: hidden;
}
.pro-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.user-info {
  max-width: 270px;
  width: 100%;
}
.info-address ul li.show-adre {
  display: none;
}
.adress .info-address .inf-text {
  -webkit-line-clamp: initial;
}
.info-name {
  color: #444444;
}
.info-name h1 {
  font-size: 30px;
  line-height: 32px;
  font-weight: 600;
}
.info-name .tag-line {
  font-size: 18px;
  line-height: 22px;
  display: block;
}
.info-address {
  padding: 20px 0px;
}
.info-address ul {
  display: flex;
  flex-direction: column;
}
.info-address ul li {
  display: block;
  position: relative;
  padding-left: 30px;
  margin: 10px 0px;
}
.info-address ul li .icon-itm {
  position: absolute;
  left: 0px;
  top: 0px;
}
.clock-item {
  margin-left: -4px;
}
.info-address .inf-text {
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
}
.info-social .social-links {
  text-align: center;
  padding-bottom: 12px;
}
.social-links li {
  display: inline-block;
  vertical-align: middle;
  padding: 0px 3px;
}
.social-links li a {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
}
.social-links li a:hover {
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}
.social-links li .gmail-link {
  background-color: #ff002a;
}
.social-links li .fb-link {
  background-color: #2f7abf;
}
.social-links li .twi-link {
  background-color: #00cfff;
}
.social-links li .insta-link {
  background-color: #87503f;
}
.btn {
  font-size: 15px;
  padding: 10px 15px;
}
.btn-skyblue {
  background-color: #0093dc;
  display: block;
  width: 100%;
  color: #fff;
}
.btn-skyblue:hover {
  color: #3bb6f3;
}
.send-button .fa {
  padding-right: 5px;
  font-size: 20px;
}
.checkbox-column .checkbox-list {
  padding-top: 8px;
}
.checkbox-column {
  padding-bottom: 30px;
}
.intro-column {
  padding: 25px 0px 20px;
}
.summary {
  padding-top: 5px;
}
.title-col h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  color: #444444;
  margin-bottom: 5px;
}
.review-column blockquote {
  padding: 20px 0px;
  border-bottom: 1px solid #d4d2d2;
  margin-bottom: 0px;
}
.review-column blockquote:last-child {
  border-bottom: none;
}
.blockquote .article {
  max-height: 120px;
}
.client-based {
  display: block;
  font-size: 16px;
  line-height: 18px;
  margin-top: 12px;
}
.head-area .tag-line {
  font-size: 15px;
  line-height: 18px;
  display: block;
}
.photo-items li {
  display: inline-block;
  width: 169px;
  height: 169px;
  overflow: hidden;
  vertical-align: middle;
}
.photo-items li:first-child {
  margin-right: 10px;
}
.photo-items li:last-child {
  margin-left: 10px;
}
.photo-items li img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.sliderstyle {
  padding: 50px 0px;
  overflow: hidden;
}
.slider-row {
  margin: 3px 0px;
  cursor: pointer;
}
.gym-girls {
  height: 250px;
}
.object-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.gym-girls, .gym-girls2 {
  overflow: hidden;
  max-width: 365px;
}
.gym-girls2 {
  height: 450px;
}
.arrow-vert .slick-prev, .arrow-vert .slick-next {
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  width: auto;
  height: auto;
  -webkit-transition: all 500ms ease-in-out 0s;
  -o-transition: all 500ms ease-in-out 0s;
  transition: all 500ms ease-in-out 0s;
}
.arrow-vert .slick-prev:before, .arrow-vert .slick-next:before {
  opacity: 0.3;
}
.arrow-vert .slick-arrow.slick-disabled {
  opacity: 0;
  visibility: hidden;
}
.arrow-vert .slick-prev {
  top: 10px;
}
.arrow-vert .slick-next {
  bottom: 10px;
  top: auto;
}
.slick-prev:before, .slick-next:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  color: #818181;
  font-size: 30px;
}
.slick-prev:before {
  content:"\f077";
}
.slick-next:before {
  content:"\f078";
}
.search-coach {
  background-color: #f7f7f7;
  padding: 20px 15px;
}
.search-coach .find-input {
  padding-top: 10px;
}
.search-coach .fir-search_bar {
  width: calc(52% - 5px);
}
.search-coach .sec-search_bar {
  width: calc(40% - 12px);
}
/* coach profile layout close */




/***************************************/
@media (min-width: 1591px) {
  .container {
    max-width: 1185px;
  }

}

@media (max-width: 1600px) {
  .navbar-brand.logo {
    width: 280px;
  }
}
@media (max-width: 1590px) {
  .photo-items li:first-child {
    margin-right: 2px;
  }
  .photo-items li:last-child {
    margin-left: 2px;
  }
  .pro-img {
    width: 349px;
    height: 349px;
    overflow: hidden;
  }
}

@media (max-width: 1199px) {
  .navbar-brand.logo {
    width: 200px;
  }

  .cardContent h3 {
    font-size: 22px;
  }

  .sideBarMoreNews {
    font-size: 14px;
  }
  .pro-img {
    width: 249px;
    height: 249px;
  }
  .info-name h1 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 5px;
  }
  .info-name .tag-line {
    font-size: 16px;
    line-height: 20px;
  }
  .info-address {
    padding: 10px 0px;
  }
  .info-address .inf-text {
    font-size: 14px;
    line-height: 18px;
  }

    /* new start */
    .circle-arr.circle-arr2 .slick-prev {
        left: -10px;
    }
    .circle-arr.circle-arr2 .slick-next {
        right: -10px;
    }
    .circle-arr.circle-arr2 .slick-prev:before {
        margin-left: 10px;
    }
    .circle-arr.circle-arr2 .slick-next:before {
        margin-right: 10px;
    }
    .main-bx .feat-items {
        padding-left: 0;
    }
    .filter-side {
        position: fixed;
        left: 0;
        top: 74px;
        bottom: 0;
        z-index: 99;
        width: 320px;
        max-height: 100%;
        overflow-y: auto;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s;
    }
    .filter-slide .filter-side {
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }
    .apply-block .btn {
        padding: 7px 15px;
    }
    .apply-block {
        padding: 8px 15px;
        background-color: #fff;
        border-bottom: 1px solid #b8b7b7;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 5;
        box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
    }
    .filter-feat {
        padding: 65px 15px 0px;
        overflow-y: auto;
        max-height: 100%;
    }
    .selec-wdth {
        max-width: 100%;
    }
    .inut-field {
        width: calc(50% - 19px);
    }
    body.filter-slide {
        overflow-y: hidden;
    }

    /* new close */

}

@media (max-width: 991px) {
  .headerLeftCol {
    text-align: center;
    padding: 0 40px;
  }

  .navbar-brand.logo {
    margin: 0;
  }

  .menu-icon {
    position: absolute;
    top: -30px;
    cursor: pointer;
    z-index: 9999;
    width: 40px;
    height: 31px;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    left: 5px;
  }
  .menu-icon .lines {
    display: block;
    height: 4px;
    width: 87%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    line-height: 2;
    padding-bottom: -4px;
    margin: 3px;
  }
  .activeNav .menu-icon .lines:nth-child(1) {
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
  }
  .activeNav .menu-icon .lines:nth-child(2), .activeNav .menu-icon .lines:nth-child(3) {
    width: 0%;
    opacity: 0;
  }
  .activeNav .menu-icon .lines:nth-child(4) {
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 10px;
    left: 3px;
  }
  .menu-icon .lines:nth-child(2), .menu-icon .lines:nth-child(3) {
    top: 18px;
  }
  .menu-icon .lines:nth-child(1), .menu-icon .lines:nth-child(2), .menu-icon .lines:nth-child(3) {
    top: 0;
    -webkit-transform-origin: left center;
    transform-origin: left center;
  }
  .menu-icon .lines:nth-child(3) {
    top: 36px;
  }

  .navbarCol {
    position: fixed;
    left: 0;
    top: 60px;
    bottom: 0;
    background-color: #04131a;
    right: 0px;
    -webkit-transform: translateX(-120%);
    -ms-transform: translateX(-120%);
    transform: translateX(-120%);
    -webkit-transition: all 400ms ease-in-out 0s;
    -o-transition: all 400ms ease-in-out 0s;
    transition: all 400ms ease-in-out 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .navbarCol ul {
    overflow-y: auto;
    width: 100%;
    max-height: 100%;
  }

  .activeNav .navbarCol {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }

  .navStyle>li {
    padding: 0px;
    display: block;
  }

  .navStyle>li>a {
    padding: 6px 0;
    display: block;
    font-size: 18px;
  }


  .navCloseIcon>a {
    position: absolute;
    right: 15px;
    top: 6px;
    color: #fff;
    font-size: 32px;
    line-height: 32px;
  }

  .pageTitleCol h1 {
    font-size: 22px;
  }

  .titleText h4 {
    font-size: 20px;
  }

  .latestNewsCol .cardImg, .moreNewsCol .cardImg {
    padding-right: 0;
  }

  body {
    font-size: 14px;
    padding-top: 58px;
  }

  .mealTimeCol p {
    font-size: 18px;
  }

  .pageTitleCol, .headerCol {
    padding: 15px 0;
  }

  .latestNewsCol {
    padding: 0;
    background-color: transparent;
  }

  .moreNewsCol {
    padding: 0px;
  }

  .footerCol {
    padding: 25px 0;
  }

  .copyright {
    font-size: 13px;
  }

  .cardContent h3 {
    font-size: 20px;
  }

  .cardContent p {
    font-size: 20px !important;
  }

  .des-block {
    padding-top: 25px;
  }
  .sliderstyle {
    padding: 20px 0px;
    text-align: center;
  }
  .arrow-vert .slick-prev, .arrow-vert .slick-next {
    top: 50%;
    left: auto;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    opacity: 0;
    visibility: hidden;
  }
  .photo-items li {
    width: 145px;
    height: 145px;
  }
  .slider-row {
    margin: 0px 15px;
  }
}

@media (max-width: 767px) {
  .cardContent p {
    font-size: 20px !important;
  }

  .cardContent h3 {
    font-size: 20px;
  }
  .fitness-column .img-box {
    max-width: 112px;
    height: 112px;
  }
  .des-block h1 {
    display: none;
  }
  .top-heading {
    padding-bottom: 15px
  }
  .des-block {
    padding: 20px 0px 0px 0px;
  }
  .space-top-bot ul {
    padding: 0px;
  }
  .button-block {
    display: none;
  }
  .unshow-column {
    display: block;
  }
  .unshow-column .fitness-list:last-child  {
    border-bottom: 0px;
  }
  .space-0 {
    padding: 0px;
  }
  .search-box {
    padding: 7px 10px;
  }
  .search-box .form-control {
    font-size: 16px;
    padding: 2px 10px 2px 0px;
  }
  .fir-search_bar .locate-icon {
    top: 1px;
  }
  .fir-search_bar {
    width: calc(66% - 5px);
  }
  .search-box .fir-search_bar .form-control {
    padding-right: 40px;
  }
  .info-name {
    padding-bottom: 20px;
  }
  .info-social {
    padding-top: 20px;
  }
  .pro-img {
    width: 209px;
    height: 209px;
  }
  .info-address {
    padding: 0px;
  }
  .intro-column {
    padding: 25px 0px 10px;
  }
  .checkbox-column {
    padding-bottom: 25px;
  }
  .review-column blockquote {
    padding: 15px 0px;
  }
  .slider-row {
    white-space: nowrap;
  }
  .photo-items li {
    width: 265px;
    height: 265px;
  }
  .slider-row {
    overflow: hidden;
    margin: 0px;
  }
  .paragraph-items.line-clamp-10 {
    -webkit-line-clamp: 6;
  }
  .show-para .paragraph-items.line-clamp-10 {
    -webkit-line-clamp: initial;
  }
  .mob-line-clamp4 {
    -webkit-line-clamp: 4;
  }
  .mob-show-more {
    display: inline-block;
  }
  .article p, article, .article2 p {
    font-size: 15px;
  }
  .adress.info-address .inf-text {
    -webkit-line-clamp: initial;
  }
  .adress.info-address ul li.show-adre {
    display: none;
  }
  .info-address ul li.show-adre {
    display: inline-block;
  }
}

@media(max-width:575px) {
  .pro-img {
    width: 174px;
    height: 174px;
  }
  .pd-less-left {
    padding-left: 7px;
  }
  .pd-less-rht {
    padding-right: 7px;
  }
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
@media(max-width:320px) {
  .pro-img {
    width: 130px;
    height: 130px;
  }
  .pd-less-left {
    padding-left: 4px;
  }
  .pd-less-rht {
    padding-right: 4px;
  }
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #cef;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }

  50%, 100% {
    top: 19px;
    height: 26px;
  }
}
