<template>
    <div class="card mb-4">
        <div class="card-body">
            <div class="contact-content">
                <div style="text-align: center">
                    <img :src="data.image.thumbnail" class="contact-content-img" alt="" style="width: 90%">
                </div>
                <div class="contact-content-about mt-3">
                    <div class="contact-content-user text-muted small mb-2">{{data.datePublished}}</div>
                    <h5 class="contact-content-name mb-1"><a :href="data.url" target="_blank"
                                                             class="text-body" v-html="data.title"></a></h5>
                    <div class="small" v-html="data.description"></div>
                    <hr class="border-light">
                    <div class="contact-content-user text-muted small mb-2">Keywords : {{data.keywords}}
                    </div>
                    <div class="contact-content-user text-muted small mb-2">Provider :
                        {{data.provider.name}}
                    </div>
                    <hr class="border-light">
                    <div v-if="saving" class="spinner-border spinner-border-sm text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div v-if="saved && !exist" class="alert alert-success text-center">
                        {{message}}
                    </div>
                    <div v-if="saved && exist" class="alert alert-warning text-center">
                        {{message}}
                    </div>
                    <div v-if="!saving && !saved">
                        <a class="btn btn-sm btn-secondary" style="color: #FFF !important;"
                           @click="addToCollection(data, save)"><span class="fa fa-plus-circle"></span>&nbsp;&nbsp;Add
                            To News Collection</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "NewsComponent",

        data: () => {
            return {
                saving: false,
                saved : false,
                exist : false,
                message : ''
            }
        },

        props: {
            data: {},
            save: ''
        },

        methods: {
            addToCollection: function (d, url) {
                this.saving = true;
                axios
                    .post(url, {
                        data: d
                    })
                    .then(response => {
                        this.saving = false;
                        this.saved = true;
                        this.message = response.data.message;
                        if(!response.data.status) {
                            this.exist = true;
                        }
                    })
                    .catch(error => {
                        this.saving = false;
                        console.log(error)
                    })

            },
        }
    }
</script>

<style scoped>

</style>
